@import "./index.scss";

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.ui.form input[type="email"],
.ui.form input[type="password"],
.ui.form input[type="text"] {
  border: none !important;
}

.ui.basic.grey.button,
.ui.basic.grey.buttons .button {
  box-shadow: 0 0 0 1px #767676 inset !important;
  color: #767676 !important;
  border-radius: 16px;
}

.ui.active.modal {
  position: fixed !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  margin: auto !important;
}

.ui.modal {
  position: absolute !important;
  display: none !important;
  z-index: 1001 !important;
  font-size: 1rem !important;
  box-shadow: 1px 3px 3px 0 rgb(0 0 0 / 20%), 1px 3px 15px 2px rgb(0 0 0 / 20%) !important;
  transform-origin: 50% 25% !important;
  flex: 0 0 auto !important;
  border-radius: 0.28571429rem !important;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
  will-change: top, left, margin, transform, opacity !important;

  &.contentClose {
    text-align: end !important;
  }
}

.contentClose {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #dde1e6;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: auto;
  cursor: pointer;

  i.icon {
    margin: 0;
    size: large;
  }
}

 pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }

